body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

#diagram {
    height: 50vh;
    margin: 20px 0 20px;
    background: #eee;
}